body {
    font-family: sans-serif;
    display: grid;
    max-width: 1000px;
    grid-gap: 20px;
    margin: 20px auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 90px 440px 220px 50px;
    grid-template-areas:
        "logo .    nav  nav"
        "feat feat feat feat"
        "prod1 prod1 prod2 prod2"
        "foot foot foot foot";
}
nav ul, section, footer, a {
    background: silver;
}
nav {
    grid-area: nav;
    align-self: center;
}
nav ul {
    list-style-type: none;
    display: grid;
    height: 50px;
    grid-template: auto / repeat(4, 1fr);
    justify-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
}
#logo {
    grid-area: logo;
}
#featuredProd {
    grid-area: feat;
}
#prod1 {
    grid-area: prod1;
}
#prod2 {
    grid-area: prod2;
}
footer {
    grid-area: foot;
    align-content: center;
    text-align: center;			
}